body {
  background-color: white;
}
h1 {
  font-family:serif;
  color: black;
}
#miMapa{
  height: 500px;
  width: 600px;
}
p{
  color: black;
  font-family: sans-serif;
  font-style: italic;
}
.dc-chart g.row text {fill: black;}
